*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'nats';
    src: url('NATS-Regular.woff');
}

body{
    background-color: #00060E ;
    color: aliceblue;
}
.navbar{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
ul{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2vmax;
    font-family: 'nats',sans-serif;
}
li{
    text-decoration: none;
    list-style: none;
}
.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
    
}
.main2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}

.left{
    height: 100%;
    width: 65%;
    
}

.left .title{
    height: 10%;
    width: 100%;
    gap: 1vw;
    display: flex;
    align-items: center;
}
.title1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subt{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 1vw;
    align-items: center;
    flex-direction: row;
}
.subt>span{
    font-family: 'nats',sans-serif;
}
.subt>div>h2,.subt>div>p{
    font-family: 'nats',sans-serif;
    line-height: 2.3vmin;
}
.title1>div>span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 5vh;
    width: 5vh;
    border-radius: 2rem;
    font-size: 1.5vmin;
    font-family: 'nats',sans-serif;
}
.left .option{
    height: 10%;
    width: 100%;
}

.left .graph{
    height: 75%;
    width: 100%;
    /* border: solid 1px #3C3C3C; */
    border-radius: 1vmin;
    border: 1px solid rgba(255, 255, 255, 0.09);
    box-sizing: border-box;

}

.left .info{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.info>div{
    width: 24%;
    height: 80%;
    background-color: #131722;
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 1vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.info>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
.info>div>div>h7,.info>div>div>p{
    font-family: 'nats',sans-serif;
    line-height: 2.5vmin;
}
.sum{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    flex-direction: column;
}
.sum p{
    font-family: 'nats',sans-serif;
    line-height: 2.4vmin;
}


.right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}
.right h1{
    font-family: 'nats',sans-serif;
    font-size: 3vmin;
}
.headline{
    height: 91%;
    width: 100%;
    background-color: #131722;
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 1vmin;
}
.change{
    color: aquamarine;
}
#container{
    height: 99%;
    width: 99%;
}
#news-container
{
    display: flex;
    justify-content: space-evenly;
    gap: 0.8vh;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.news-item{
    display: flex;
    width: 95%;
    height: 12vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid rgba(255, 255, 255, 0.1);

}
.news-item img{
    width: 8vh;
    height: 8vh;
}
.news-item h2{
    font-size: 2.5vmin;
    line-height: 2.1vh;
    font-weight: 400;
    font-family: 'nats',sans-serif;
}